# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
log.txt
*.out

# OS files
.DS_Store
Thumbs.db

# dotenv (si lo usas)
.env

# Build
dist/
coverage/

# Editor settings
.vscode/
.idea/
